h1,{
    background-color: aqua;
}
h2,h3,h4,h5,h6{
    background-color: cornflowerblue;
}
img src{
    font-weight: 
}
h2 {
    text-align: center;
    padding-top: 16px;
}
header {
    background-color: darkblue;
}