*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
.contenedor{
    width: 90%;
    margin: auto;
}
h1,h2,h3,h4,h5{
    color:#474747;
}
p{
    color:#878787;
}
.titulo-seccion{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 42px;
    font-weight: 600;
}
.subtitulo-seccion{
    text-align: center;
    margin-bottom: 3rem;
}

/* ESTILOS ENCABEZADO */
.seccion-bienvenida{
    height: 100vh;
    background: url(../img/fondo.webp);
    background-position: top center;
    background-size: cover;
}
header {
    padding: 1rem 0;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header .logo a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
}
header .logo a span{
    color: #d82b4e;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    margin: 0 8px;
}
.nav-menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.nav-menu li a:hover{
    color: #d82a4e;
}
.seccion-bienvenida .mensaje-bienvenida{
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 10rem;
}
.seccion-bienvenida .mensaje-bienvenida h1{
    font-size: 55px;
    color: #fff;
    margin-bottom: 20px;
}
.seccion-bienvenida .mensaje-bienvenida p{
    color: #fff;
}
.seccion-bienvenida .mensaje-bienvenida .btn-login{
    color: #fff;
    display: block;
    max-width: 120px;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem 0;
    background: #d82b4e;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.seccion-bienvenida .mensaje-bienvenida .btn-login:hover{
    opacity: 0.6;
}
.seccion-idioma{
    padding: 2rem 0;
}
.seccion-idioma .fila{
    display: flex;
    justify-content: space-between;
}
.seccion-idioma .fila .columna{
    width: 30%;
    background-color: #edf4f6;
    border-radius: 5px;
}
.seccion-idioma .fila .columna img{
    width: 100%;
}
.seccion-idioma .fila .columna .idioma-contenido{
    padding: 1.5rem;
}
.seccion-idioma .fila .columna h4{
    margin-bottom: 1rem;
    text-align: center;
}
.seccion-idioma .fila .columna p{
    text-align: center;
    margin-bottom: 2rem;
}
.seccion-idioma .fila .columna span{
    text-align: center;
    display: block;
    color:#d82a4e;
    font-weight: 700;
}

/*SECCION CURSOS*/

.seccion-cursos{
    margin-top: 3rem;
    padding-bottom: 20px;
}
.seccion-cursos .fila{
    display: flex;
    justify-content: space-between;
}
.seccion-cursos .fila .columna{
    width: 23%;
    background-color: #edf4f6;
    border-radius: 15px;
}
.seccion-cursos .fila .columna .curso-encabezado{
    position: relative;
}
.seccion-cursos .fila .curso-encabezado .curso-precio{
    top: 5%;
    left: 5%;
    position: absolute;
    background: #d82a4e;
    color: #fff;
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
}
.seccion-cursos .fila .columna img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.seccion-cursos .fila .columna .curso-contenido{
    padding: 1.5rem;
    padding-bottom: 0;
}
.seccion-cursos .fila .columna h4{
    margin-bottom: 1rem;
    text-align: center;
}
.seccion-cursos .fila .columna .curso-contenido p{
    text-align: center;
    margin-bottom: 2rem;
}
.seccion-cursos .fila .columna .curso-contenido span{
    text-align: center;
    display: block;
    color:#d82a4e;
    font-weight: 700;
    padding: 16px;

}
.seccion-cursos .columna .curso-profesor{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    border-top: 1px solid #d4dee1;
}
.seccion-cursos .columna .curso-profesor img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 8px;
    border: 2px solid #d82a4e;
}
.seccion-cursos .columna .curso-profesor p{
    font-size: 14px;
}
.seccion-cursos .fila .columna .curso-profesor span{
    color:#d82a4e;
    font-weight: 700;
}
/* SECCION FORMULARIO*/

.seccion-formulario{
    padding: 48px 0;
    background-color: #d82a4e;
}
.seccion-formulario .fila .columna{
    width: 47%;

}
.seccion-formulario .fila .columna h2, .seccion-formulario .fila .columna p{
    color: #fff;
    margin-bottom: 32px;
}
.seccion-formulario form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.seccion-formulario form input, .seccion-formulario form textarea{
    margin-bottom: 26px;
    padding: 12px;
    border: 0;
    background-color: #edf4f6;
}
.seccion-formulario form label{
    margin-bottom: 8px;
    font-size: 14px;
}
.seccion-formulario form button{
    border: 0;
    background-color: #d82a4e;
    color: white;
    max-width: 170px;
    padding: 12px 0;
    font-weight: 700;
    font-size: 14px
}
.seccion-formulario form button:hover{
    transform: scale(1.1);
    cursor: pointer;
}


