*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contenedor{
    width: 90%;
    margin: auto;
}

/* encabezado*/
header{
    background-color:wheat;
    padding: 1rem 0;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
header .logo img{
    width: 80px;
}
header .enlaces{
    display: flex;
}
header .enlaces li{
    margin: 0 8px;
}
header .enlaces li a{
    text-decoration: none;
    color: brown;
}
header .enlaces li a:hover{
    border-bottom: 1px solid brown;
}

/* seccion productos */

.seccion-productos .contenedor-productos{
    display: flex;
    justify-content: space-between;
}
.seccion-productos .producto{
    background-color: darksalmon;
    width: 30%;
}
.seccion-productos .producto img{
    width: 100%;
}

